.actionUnderline {
  position: absolute;
  left: 0;
  height: 6px;
  display: inline-block;
  cursor: pointer;
}

.relativeContainer {
  position: relative;
}

.connectorAndIndicator {
  position: absolute;
  display: flex;
  flex-direction: column;
}

.actionConnector {
  position: relative;
  width: 2px;
  display: inline-block;
  cursor: pointer;
}

.actionIndicator {
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 80px;
  width: 40px;
  padding-left: 8px;
  padding-right: 8px;
}

.ruleNumber {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.keyboardHint {
  font-size: 1.2rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  border: 1px solid white;
  padding-left: 4px;
  padding-right: 4px;
}

.stackedContainer {
  position: absolute;
  top: -105px;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.endRule {
  font-size: 1rem;
  padding: 8px;
  padding-left: 12px;
  padding-right: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  gap: 10px;
}

.rule1AbsoluteContainer {
  position: absolute;
  top: 0;
  right: -6px;
  height: 100%;
}

.relativeStackedContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: calc(100% * 5);
}

.rule1Connector {
  height: calc((100% / 5) + (12px - 6px) + 35px);
  width: 2px;
  background-color: #cb769e;
  cursor: pointer;
}

.rule1Indicator {
  background-color: #cb769e;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 80px;
  width: 40px;
  padding-left: 8px;
  padding-right: 8px;
}
