.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding-top: 20vh;
}

.lettersContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-mono);
  width: 90%;
}

.letter {
  border-top: 1px solid #777777;
  border-bottom: 1px solid #777777;
  border-right: 1px solid #777777;
  display: inline-block;
  aspect-ratio: 1 / 1;
  position: relative;
}

.letter:first-child {
  border-left: 1px solid #777777;
}

.underlineContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.underlineGrid {
  display: grid;
  grid-template-rows: 5px 5px 5px;
  margin-top: 20px;
}
