.scrollContainer {
  width: 100vw;
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow: scroll;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
}

.textPageContainer {
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
  color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

.introContainer {
  background-color: var(--theme-salmon);
}

.solutionContainer {
  background-color: var(--theme-blue);
}

.graphContainer {
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
  position: relative;
}

.graphTitle {
  position: absolute;
  font-size: 2.5rem;
  top: 40px;
  left: 40px;
  font-weight: bold;
}

.zoomContainer {
  position: absolute;
  bottom: 40px;
  left: 40px;
  display: flex;
  flex-direction: row;
}

.zoomButton {
  width: 60px;
  height: 60px;
  background-color: var(--background);
  border: 1px solid var(--foreground);
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
  transition-property: background-color;
  transition-duration: 0.25s;
}

.zoomButton:hover {
  background-color: rgb(244, 244, 244);
}

.graphCanvas {
  z-index: 0;
  display: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.zoomButton:last-child {
  border-left: none;
}

.textContent {
  text-align: left;
  width: min(60%, 800px);
  padding-top: 100px;
  padding-bottom: 50px;
}

.code {
  font-family: var(--font-geist-mono);
}

.textBody {
  margin-top: 10px;
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.rulesList {
  padding-left: 30px;
}

.rulesList > li {
  margin-bottom: 10px;
}

.rulesList > li:last-child {
  margin-bottom: 0px;
}

.strong {
  font-weight: bold;
  font-style: italic;
  color: var(--background);
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 90px;
  display: inline-block;
  text-align: center;
  outline: 1px solid var(--background);
  margin-right: 5px;
}

.rule1 {
  background-color: var(--theme-pink);
}

.rule2 {
  background-color: var(--theme-blue);
}

.rule3 {
  background-color: var(--theme-green);
}

.rule4 {
  background-color: var(--theme-salmon);
}

.lettersContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  font-family: var(--font-geist-mono);
  width: 90%;
  height: 400px;
}

.letter {
  border-top: 1px solid var(--theme-gray);
  border-bottom: 1px solid var(--theme-gray);
  border-right: 1px solid var(--theme-gray);
  display: inline-block;
  aspect-ratio: 1 / 1;
  position: relative;
}

.letter:first-child {
  border-left: 1px solid var(--theme-gray);
}

.underlineContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.underlineGrid {
  display: grid;
  grid-template-rows: 5px 5px 5px;
  margin-top: 20px;
}

.byline {
  font-style: italic;
}

.scrollContainer a {
  text-decoration: underline;
}
